spring.application.name=payment-service
server.port=8085

spring.datasource.url=jdbc:postgresql://localhost:5435/payment_db
spring.datasource.username=user
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.open-in-view=false

payment.provider=${PAYMENT_PROVIDER:mesomb}

mesomb.base-url=https://business.mesomb.com/fr/api/v1.1
mesomb.application-key=${MESOMB_APPLICATION_KEY}
mesomb.access-key=${MESOMB_ACCESS_KEY}
mesomb.secret-key=${MESOMB_SECRET_KEY}
mesomb.request-timeout-seconds=${MESOMB_REQUEST_TIMEOUT_SECONDS:30}
mesomb.max-network-retries=${MESOMB_MAX_NETWORK_RETRIES:0}
